<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newsys.dao.RegtypeMapper" >
  <resultMap id="BaseResultMap" type="com.newsys.pojo.Regtype" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="reg_type" property="regType" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from regtype
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newsys.pojo.Regtype" >
    insert into regtype (user_id, reg_type)
    values (#{userId,jdbcType=INTEGER}, #{regType,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.newsys.pojo.Regtype" >
    update regtype
    set reg_type = #{regType,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select user_id, reg_type
    from regtype
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, reg_type
    from regtype
  </select>
</mapper>