<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newsys.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.newsys.pojo.Role">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="user_power" jdbcType="VARCHAR" property="userPower" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newsys.pojo.Role">
    insert into role (role_id, user_power, description
      )
    values (#{roleId,jdbcType=INTEGER}, #{userPower,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.newsys.pojo.Role">
    update role
    set user_power = #{userPower,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select role_id, user_power, description
    from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, user_power, description
    from role
  </select>
</mapper>